<div class="row">
  <div class="col-sm-6 col-md-8 col-lg-9">
    <h1>Over deze applicatie</h1>
    <p>
      Deze applicatie is gemaakt in het kader van het vak 'Clientside web frameworks' van Avans Hogeschool
      Breda.
    </p>
    <h2 class="app-title">Petstore Hsaine</h2>
    <p>
        Zodra de website wordt geopend kunnen dieren bekeken worden. 
        Vervolgens als de bezoeker een dier naar wens heeft gevonden, kan hij een afspraak maken om deze op te komen halen.
        Hiervoor zal de bezoeker zich wel moeten registreren en vervolgens inloggen hierdoor wordt hij een gebruiker.
        Medewerkers van de dierenwinkel zijn ook gebruikers maar deze zijn employees en dit geeft hun toegang tot extra functionaliteit.
        Wanneer een dier is opgehaald door een gebruiker moet een medewerker dit afvinken en worden het dier en de afspraak uit de database verwijdert.
        Medewerkers kunnen ook nieuwe dieren toevoegen, aanpassen of verwijderen en andere gebruikers medewerkers maken.
    </p>
  </div>
  <div class="col-sm-6 col-md-4 col-lg-3">
    <div class="card">
      <div class="d-flex justify-content-center align-items-center">
        <img
          src="assets/images/person.png"
          class="card-img-top rounded-circle border profile-pic"
          alt="..."
        />
      </div>
      <div class="card-body">
        <h5 class="card-title">Mohamed Hsaine</h5>
        <p class="card-text">
          Studentnummer: 2139941
        </p>
      </div>
    </div>
  </div>
</div>

<h3>Entiteiten</h3>
<div class="row">
  <div class="col-sm-12 col-md-4">
    <p>Entiteit 1: Pet</p>
    <ul>
      <li>description: string</li>
      <li>price: integer</li>
      <li>animal: Animal</li>
      <li>user: User</li>
    </ul>
  </div>
  <div class="col-sm-12 col-md-4">
    <p>Entiteit 2: Animal</p>
    <ul>
      <li>species: string</li>
      <li>race: string</li>
      <li>primaryColor: string</li>
      <li>secondaryColor: string</li>
      <li>isWarmBlooded: boolean</li>
    </ul>
  </div>
  <div class="col-sm-12 col-md-4">
    <p>Entiteit 3: User</p>
    <ul>
      <li>name: string</li>
      <li>email: string</li>
      <li>birthDate: date</li>
      <li>isEmployee: boolean</li>
    </ul>
  </div>
  <div class="col-sm-12 col-md-4">
    <p>Entiteit 4: Appointment</p>
    <ul>
      <li>date: Date</li>
      <li>animal: Animal</li>
      <li>user: User</li>
    </ul>
  </div>
</div>

<div class="row">
  <div class="col-12">
    <h3>Use Cases</h3>
    <p>De applicatie biedt de volgende functionaliteit.</p>
    <div *ngFor="let UC of useCases">
      <app-usecase [useCase]="UC"></app-usecase>
</div>
