<div *ngIf="animal && loggedInUser.isEmployee" class="panel panel-primary">
        <div class="card-header">
                  <ul class="list-group list-group-flush">
                    <li class="list-group-item">animal id: {{ animal?.id }}</li>
                    <li class="list-group-item">animal species: {{ animal?.species }}</li>
                    <li class="list-group-item">animal race: {{ animal?.race }}</li>
                  </ul>
                  <div class="btn-group">
                        <button  type="button" class="btn btn-primary">Delete</button>
                        <button type="button" class="btn btn-primary">Edit</button>
                  </div>
        </div>
</div>