<div *ngIf="loggedInUser?.isEmployee">
  <h1>List of all users</h1>
  <button (click)="getUsers()">Refresh</button>
  <div *ngFor="let user of users | async">
      <div class="card">
        <a routerLink="/userDetail/{{ user?._id }}">
          <p class="card-header">{{ user?.username }}</p>
        </a>   
      </div>
  </div>
</div>
  