<div *ngIf="pet" class="panel panel-primary">
    <div class="card-header">
              <ul class="list-group list-group-flush">
                <li class="list-group-item">pet id: {{ pet?._id }}</li>
                <li class="list-group-item">pet race: {{ pet?.animal?.race }}</li>
                <li class="list-group-item">pet price: {{ pet?.price }}</li>
              </ul>
            <div class="btn-group" *ngIf="loggedInUser">
                <button (click)="purchasePet()" type="button" class="btn btn-primary">Purchase</button>
                <button *ngIf="loggedInUser?.isEmployee" type="button" class="btn btn-primary">Delete</button>
                <button type="button" class="btn btn-primary">Edit</button>
            </div>
    </div>
</div>