<div *ngIf="loggedInUser?.isEmployee" >
        <div  *ngFor="let appointment of appointments | async">
                <div class="card">
                <a routerLink="/appointmentDetail/{{ appointment?._id }}">
                    <p class="card-header">{{ appointment?.date }}</p>
                </a>   
                </div>
        </div>
</div>
