<div class="row">
  <div class="col-sm-6 col-md-8 col-lg-9">
    <h1>Login</h1>
    <div class="col-sm-6 col-md-4 col-lg-3">
      <div>
        <div class="card-body">
          <label class="card-text">Username:</label>
          <input [(ngModel)] ="loginUsername"/>
          <label class="card-text">Password:</label>
          <input [(ngModel)] ="loginPassword"/>
          <button (click)="login()">Login</button>
        </div>
      </div>
    </div>
  </div>
</div>
