<div *ngIf="loggedInUser?.isEmployee">
        <div class="card">
              <button class="card-header">Add a new animal</button>
          </div>
          <div *ngFor="let animal of animals | async">
                <div class="card">
                <a routerLink="/animalDetail/{{ animal?.id }}">
                    <p class="card-header">{{ animal?.race }}</p>
                </a>   
                </div>
        </div>
</div>

    