<div *ngIf="user" class="panel panel-primary">
        <div class="card-header">
                  <ul class="list-group list-group-flush">
                    <li class="list-group-item">user id: {{ user?._id }}</li>
                    <li class="list-group-item">user username: {{ user?.username}}</li>
                  </ul>
                  <div class="btn-group">
                        <button (click)="deleteUser()" type="button" class="btn btn-primary">Delete</button>
                        <button type="button" class="btn btn-primary">Edit</button>
                        <button *ngIf="!user?.isEmployee" type="button" class="btn btn-primary">Make employee</button>
                  </div>
        </div>
</div>