<div *ngIf="appointment && loggedInUser.isEmployee" class="panel panel-primary">
        <div class="card-header">
                  <ul class="list-group list-group-flush">
                    <li class="list-group-item">appointment id: {{ appointment?._id }}</li>
                    <li class="list-group-item">appointment date: {{ appointment?.date }}</li>
                    <li class="list-group-item">appointment user: {{ appointment?.userId }}</li>
                    <li class="list-group-item">appointment pet: {{ appointment?.petId }}</li>
                  </ul>
                  <div class="btn-group">
                        <button  type="button" class="btn btn-primary">Delete</button>
                        <button (click)="appointmentDone()" type="button" class="btn btn-primary">Done</button>
                  </div>
        </div>
</div>