<div class="row">
  <div class="col-sm-6 col-md-8 col-lg-9">
    <h1>Registration</h1>
    <div class="col-sm-6 col-md-4 col-lg-3">
      <div>
        <div class="card-body">
          <p  class="card-text">Username: </p>
          <input [(ngModel)]="newUsername">
          <p  class="card-text">Password:</p>
          <input [(ngModel)]="newPassword">
          <button (click)="createUser()">Register</button>
        </div>
      </div>
    </div>
</div>