<div *ngIf="loggedInUser?.isEmployee">
    <div class="card">
          <button (click)="startNewPet()" class="card-header">Add a new pet</button>
          <div *ngIf="newPet">
              <p  class="card-text">Description: </p>
                <input [(ngModel)]="newDescription" >
              <p  class="card-text">Price:</p>
                <input [(ngModel)]="newPrice">
              <p  class="card-text">Animal id: </p>
                <input [(ngModel)]="newAnimalId">
              <button (click)="createPet()">Create</button>
          </div>
      </div>

</div>
<div *ngFor="let pet of pets | async">
  <div class="card">
      <a routerLink="/petDetail/{{ pet?._id }}">
      <p class="card-header">{{ pet?.description }}</p>
    </a>   
  </div>
</div>
